@import url('resest.css');
@import url('font.css');
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Manrope";
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1488px;
    height: 70px;
    font-size: 18px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1345px;
}
.nav-link{
    color: #000;
}
.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077FF;
    width: fit-content;
    height: 50px;
    padding: 0 32px;
    border-radius: 14px;
    color: #FFF;
}
.offer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    border-radius: 24px;
    background-color: antiquewhite;
    width: 1440px;
    height: 340px;
}
.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
}
.main-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: fit-content;
    height: 50px;
    color: #FFF;
    padding: 32px;
    font-size: 18px;
    border-radius: 14px;
}